@model TranslateWebApplication.Models.TranslateContext

@{
    ViewBag.Title = "Confirm page";
}

<div align="center"><b>Список изменений:</b></div>
@if (Model == null)
{
    <div align="center">@ViewBag.Message</div>
}
else
{
    @Html.Partial("GetTable", Model)
}

