@using TranslateWebApplication.Models
@model TableWithHeader
@section scripts {
    <script src="@Url.Content("~/Scripts/partialLoad.js")"></script>
}

@{
    ViewBag.Title = "Home Page";
}

@if (Model == null)
{
    <div align="center">@ViewBag.Message</div>
}
else
{
    <div class="row">
        <div class="col-md-4">&nbsp;</div>
        <div class="col-md-4">
            @Html.DropDownListFor(item => item.ServersList, Model.ServersList))
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">&nbsp;</div>
        <div class="col-md-4">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @Html.DropDownList("language", Model.LanguageList, "Select Language", new { onchange = "this.form.submit();" })
            }
        </div>
    </div>
            if (Model.TableData != null)
            {
                Html.RenderPartial("GetTable", Model.TableData);
            }
}