@using TranslateWebApplication.Models
@model TableHeader
@section scripts {
    <script src="@Url.Content("~/Scripts/partialLoad.js")"></script>
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
        @Html.DropDownListFor(item => item.ServersList, Model.ServersList.Select(data => new SelectListItem { Text = data.ToString(), Value = data.Name }))
    </div>
</div>

<div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
        @Html.DropDownListFor(item => item.LanguageList, Model.LanguageList, "---", new { onchange = "loadTable($(this).val());" })
    </div>
</div>
<div class="row" id="translatesTable"></div>
<div id="busy" style="display: none;"><img src="/Content/ajax-loader.gif" alt="loader" /></div>